<div class="content">
  <div class="columns">
    <% if !@customers.empty? %>
      <% for customer in @customers %>
        <div class="card">
          <% image_tag customer.image %>

        </div>
      <% end %>
    <% end %>
  </div>
</div>