<h1>Alphabetized</h1>

<p>
  <%= link_to "Home", root_path %> |
  <%= link_to "Alphabetized", alphabetized_path %> |
  <%= link_to "Missing Email", missing_email_path %>
</p>

<%= render 'customer', customers: @customers %>